.backgroundImg {
    background-image: url(../../assets/images/cpr.jpg);
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center;
}

.landingJumbo {
    width: 50%;
    background-color: rgba(204, 204, 204, 0.6) !important;
}

.cardBackground{
    background-color: #27D6C0!important;
}


.jumboText {
    color: black;
}

.companyName {
    font-size: 2.5vw;
}

.companySlogan {
    font-size: 1.2vw;
}

.btn {
    background-color: rgb(140, 140, 140) !important;
    outline-style: hidden !important;
    outline-color: white !important;
    padding: 15px !important;
}

.btn-hover {
    background-color: hotpink !important;
}

.fa-stack {
    vertical-align: bottom;
    color: white
}

.facebookLogo:hover {
    color: #4267b2 !important;
}



.instagramLogo:hover {
    color: #f09433; 
}

