.navbar {
    background-color:#27D6C0;
}

.navbarContainer {
    display: inline;
    width: 100%;
   
}

.btn {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.4em solid rgb(151, 150, 150);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    align-content: center;
}
.nav-item:hover {
    color:#000000;
    background-color:#9d9d9d9d;
}
    @media all and (max-width:30em){
.btn {
    display:block;
    margin:0.4em auto;
}
}

.navbar-brand {
    float: left;
    position: relative;
    margin-left: -5%;
    margin-top: 5%;

}


/* .controlBtn {
    background-color: #001f3f;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Calibri", "Georgia", "Times New Roman", Times, serif;
    text-align: center;
    width: 80px;
    border-radius: 25px;
    text-decoration: none;
    border: none
} */

/* .nav-link{
    color: #ffffff !important;
}

.nav-item:hover {
    background-color: #001f3f;
    text-decoration: none;
    padding: 5px 1px 5px 1px;
    width: 100px;
}

.nav-link:hover {
    background-color: #777777;
    text-decoration: none;
} */
